<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div><h1>Menus du jour</h1><span>{{currentDate}}</span></div>

<section>
  <ion-item *ngFor="let menu of menus">
    <ion-label>
      <h3>{{menu.nameMenu}}</h3>
      <p>{{menu.description}}</p>
	  <div class="price">{{menu.price}}€</div>
	  <p>{{menu.entreeName}}</p>
	  <p>{{menu.platName}}</p>
	  <p>{{menu.dessertName}}</p>
    </ion-label>
  </ion-item>

</section>

</ion-content>
