<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <h3>Pour nous contacter</h3>
    <p>Vous avez des questions, besoins de renseignements, 
      n’hésitez pas à nous contacter pour toutes demandes soit par téléphone,par email, ou bien grâce au formulaire de contact. 
      </p>
  </section>

  <section>
      <h3>Coordonnées</h3>
  <p><ion-icon name="pin"></ion-icon>4 allée de l’orangerie, 42580 L’Etrat</p>
  <p><ion-icon name="call"></ion-icon> 04 77 56 46 52</p>
  <!--<p><ion-icon name="mail"></ion-icon> email@gmail.com</p>-->
  <p><ion-icon name="time"></ion-icon>Du mardi au Dimanche : 12h-14h & 19h-22h30</p>


  <h3>Envoyez-nous directement un message</h3>
  <h4>Sur les réseaux sociaux</h4>
  <p>
    <ion-buttons >
      <ion-button color="blue" href="https://www.facebook.fr">
        <ion-icon  name="logo-facebook"></ion-icon>
        DiscoPizza
      </ion-button>
      <ion-button color="red" href="https://www.instagram.com">
        <ion-icon  name="logo-instagram"></ion-icon>
        @DP
      </ion-button>
      <ion-button color="violet" href="https://www.twitter.com">
        <ion-icon  name="logo-twitter"></ion-icon>
        #DP
      </ion-button>
    </ion-buttons>
    
  </p> <!-- faire href vers fb-->

  </section>
  
  <section>
      <h4>Par mail</h4>
    <form method="post" action=".">
      <div class="ion-text-wrap row">
        <p class="col-30"><label for="name" >Nom : </label></p>
        <p class="col-70"><input type="text" name="name" id="name"></p>
      </div>
      <div class="ion-text-wrap row">
        <p class="col-30"><label for="email" >Email: </label></p>
        <p class="col-70"><input type="text" name="email" id="email"></p>
      </div>
      <div class="ion-text-wrap row ">
        <p class="col-30"><label for="phone" >Telephone : </label></p>
        <p class="col-70"><input type="text" name="phone" id="phone"></p>
      </div>
      <div class="ion-text-wrap row ">
        <p class="col-30"><label for="object" >Objet : </label></p>
        <p class="col-70"><input type="text" name="object" id="object"></p>
      </div>
      <div class="ion-text-wrap row">
        <p class="col-30"><label for="comment" >Message : </label></p>
        <p class="col-70"><input type="text" name="comment" id="comment"></p>
      </div>
      <input type="submit" value="Envoyer">
    </form>
  </section>

</ion-content>
