<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <h3>Pour nous contacter</h3>
    <p>Vous avez des questions, besoins de renseignements, 
      n’hésitez pas à nous contacter pour toutes demandes soit par téléphone,par email, ou bien grâce au formulaire de contact. 
      </p>
  </section>

  <section>
      <h3>Coordonnées</h3>
  <p><ion-icon name="pin"></ion-icon>4 allée de l’orangerie, 42580 L’Etrat</p>
  <p><ion-icon name="call"></ion-icon> 04 77 56 46 52</p>
  <p><ion-icon name="mail"></ion-icon> email@gmail.com</p>
  <p><ion-icon name="time"></ion-icon>Du mardi au Dimanche : 12h-14h & 19h-22h30</p>


  <h3>Sur les Réseaux Sociaux</h3>
  <p><ion-buttons ><ion-icon name="logo-facebook"></ion-icon></ion-buttons>Du mardi au Dimanche : 12h-14h & 19h-22h30</p> <!-- faire href vers fb-->

    </section>
  <section>
    <form method="post" action="/post.html">
      <div class="ion-text-wrap"><input type="text" name="p1"></div>
      <div class="ion-text-wrap"><input type="text" name="p1"></div>
      <div class="ion-text-wrap"><input type="textarea" name="p1"></div>
      <input type="submit" value="post">
    </form>
  </section>

</ion-content>
