<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Les fournisseurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/Micheline.jpg">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>La coopérative agricole "Chez Micheline"</h3>
        <p>Légumes et fruits de saisons</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/Jean-Marie.jpg">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>La boucherie Jean-Marie</h3>
        <p>Viande française 100% boeuf, 100% végan</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/Bertrand.jpg">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>Domaine Bertrand</h3>
        <p>Un petit verre de vin de Bertrand, c'est comme une robe légère, une fleur de printemps, c'est le rayon de soleil qui vient égayer la vie.</p>
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
          <img src="assets/Eleonore.jpg">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>Boulangerie Eleonore</h3>
          <p>Du pain et des jeux</p>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
