<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>La carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>Entrées</ion-list-header>
      <ion-item *ngFor="let entree of plats[0]">
        <ion-label>
          <h3>{{entree.nameItem}}</h3><div class="price">{{entree.price}}€</div>
          <p *ngFor="let ingredient of entree.ingredients">{{entree.ingredients}}</p>
        </ion-label>
      </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Plats</ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Type plat</ion-label>
      </ion-item-divider>
      <ion-item>Nom plat</ion-item>
    </ion-item-group>
  </ion-list>
  
  <ion-list>
    <ion-list-header>Desserts</ion-list-header>
      <ion-item *ngFor="let dessert of plats[2]">
        <ion-label>
          <h3>{{dessert.nameItem}}</h3><div class="price">{{dessert.price}}€</div>
          <p *ngFor="let ingredient of dessert.ingredients">{{dessert.ingredients}}</p>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
