<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Disco Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="page">
    <img src="/assets/DiscoPizza.png">
    <br>
    <section>
      <article>
        <p class="col-left"> Située en plein cœur du village de l'Etrat, la pizzeria vous accueille dans une ambiance chaleureuse et conviviale chaque midi 
        pour votre pause déjeuner et chaque soir pour vous détendre. Une TV grand écran à votre service pour vous retrouver entre amis à l'occasion d'une manifestation 
        sportive par exemple.
        </p>
        <div class="col-right">     
          <img id="pizza"src="/assets/pizza.jpg">
                  
        </div>
          <br>
        </article>
    </section>
    
    <footer>
    <p>
      Disco Pizza, une adresse à connaître… et à faire connaître !</p>
      <br>
      <img src="/assets/Services.jpg">
    </footer>
  </div>
</ion-content>
