<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>
    <ion-title>Disco Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="page">
    <img src="/assets/DiscoPizza.png">
    <br>
    <p class='col-50'><b> Située en plein cœur du village de l'Etrat, la pizzeria vous accueille dans une ambiance chaleureuse et conviviale chaque midi pour votre pause déjeuner et chaque soir pour vous détendre. Une TV grand écran à votre service pour vous retrouver entre amis à l'occasion d'une manifestation sportive par exemple.
      <br><br>
    </b>
    </p>
    <img class='col-50' id="pizza"src="/assets/pizza.jpg">
    <br>

    <footer>
    <p>
    <b>
      Disco Pizza, une adresse à connaître… et à faire connaître ! <br></b>
    </p>
      <img src="/assets/Services.jpg">
    </footer>
  </div>
</ion-content>
