<ion-app>
  <ion-menu side="start" auto-hide="true">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item button routerLink="/home"><ion-icon name="home"></ion-icon>&ensp;Accueil</ion-item>
        <ion-item button routerLink="/carte"><ion-icon name="pizza"></ion-icon>&ensp;La carte</ion-item>
        <ion-item button routerLink="/fournisseurs"><ion-icon name="people"></ion-icon>&ensp;Les fournisseurs</ion-item>
        <ion-item button routerLink="/contact"><ion-icon name="call"></ion-icon>&ensp;Nos coordonnées</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
    </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>