<ion-app>
  <ion-menu side="start" auto-hide="true">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item button routerLink="/home">Accueil</ion-item>
        <ion-item button routerLink="/carte">La carte</ion-item>
        <ion-item button routerLink="/fournisseurs">Les fournisseurs</ion-item>
        <ion-item button routerLink="/contact">Nos coordonnées</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
    </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>